@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap');

:root {
    --background-color: #002b36;
    --card-background-color: #073642;
    --font-color: #bbbbbb;
    --soft-font-color: #ffffff;
    --darker-color: #000000;
}

::-webkit-scrollbar {
    width: 0.2rem;
}

::-webkit-scrollbar-track {
    background: var(--background-color);
}

::-webkit-scrollbar-thumb {
    background: var(--card-background-color);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--darker-color);
}

* {
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: var(--background-color);
    font-family: 'Roboto', 'Times New Roman', Times;
    font-size: 1rem;
    color: var(--font-color);
    display: block;
    overflow: hidden;
}

nav,
main {
    justify-content: center;
    text-align: center;
    height: 100%;
    scroll-behavior: smooth;
}

nav {
    overflow-y: scroll;
    box-shadow: 0rem 0rem 1rem 0rem var(--darker-color);
    min-width: 10rem;
}

main {
    overflow: hidden;
    width: 100%;
}

ul {
    list-style-type: none;
}

a {
    display: block;
    text-decoration: none;
    color: inherit;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: var(--font-color);
}

.content {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.editable {
    cursor: copy;
}

.nav-header {
    padding: 0.5rem 0rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    box-shadow: 0rem 0.1rem 6rem var(--darker-color);
}

.nav-boards {
    color: var(--soft-font-color);
}

.nav-boards li {
    width: 100%;
    padding: 0.5rem 0rem;
    border-bottom: solid 0.01rem var(--soft-font-color);
    border-bottom-left-radius: 1rem;
}

.nav-boards li:last-child {
    font-size: 2rem;
    padding: 0rem 0rem;
}

.board {
    width: 100%;
    height: 100%;
    padding: 1rem;
}

.board-header {
    display: flex;
    margin-left: 1rem;
}

.board-header > p {
    margin-top: 0.6rem !important;
}

.board-header > p,
.board-header > div {
    margin-right: 1rem;
}

.board header {
    font-size: 2rem;
    margin-bottom: 1.1rem;
}

.board-columns {
    display: flex;
    flex-direction: row;
    justify-content: left;
    height: 93%;
    overflow-x: scroll;
    padding-bottom: 1rem;
}

.board-columns :first-child {
    border-top-left-radius: 0.5rem;
}

.board-columns :last-child {
    border-top-right-radius: 0.5rem;
}
.board-column,
.add-board-column {
    cursor: pointer;
    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem black;
    border: solid 0.01rem var(--card-background-color);
}

.board-column {
    cursor: grab !important;
    width: 12rem;
    height: 100%;
    min-width: 12rem;
    margin-right: 1rem;
    margin-left: 1rem;
    padding: 1.5rem 0rem 0rem 0rem;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

.add-board-column {
    font-size: 1.5rem;
    padding: 1rem;
}

.board-column > p {
    margin-top: -1rem;
    margin-bottom: 1rem;
}

.add-board-column > p {
    margin: auto;
    line-height: 75vh;
}

.column-cards {
    overflow-y: scroll;
    height: calc(100% - 1.2rem);
}

.column-cards :first-child {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.column-cards :last-child {
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.card {
    border: solid 0.02rem var(--font-color);
    border-top-left-radius: 0.2rem !important;
    border-top-right-radius: 0.2rem !important;
    padding: 1rem;
    padding-top: 0.5rem;
    margin: 1rem;
    box-shadow: 3px 3px 5px var(--darker-color);
    cursor: grab;
    user-select: none;
}

.add-card {
    cursor: pointer;
    font-size: 1.5rem;
    padding: 0rem 1rem;
    border: solid 0.02rem var(--font-color);
    border-top-left-radius: 0.2rem !important;
    border-top-right-radius: 0.2rem !important;
    box-shadow: 3px 3px 5px var(--darker-color);
    user-select: none;
    margin: 1rem;
}

.board-delete,
.column-delete,
.card-delete {
    color: red;
    font-size: 2rem;
    display: block;
    padding: 0rem;
    margin: 0rem;
    width: 1rem;
    height: 1rem;
    line-height: 0.8rem;
    background-color: white;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.column-delete {
    margin: 0rem;
    margin-left: 0.5rem;
}

#restore-button,
#backup-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: block;
    background: transparent;
    padding: 0.5rem;
    color: var(--soft-font-color);
    cursor: pointer;
}

#restore-button {
    right: 5rem;
}

.dragging {
    border-style: dotted;
}

.dragging p,
.dragging div {
    visibility: hidden;
}

.face {
    animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
        transform: translate3d(4px, 0, 0);
    }
    30%,
    50%,
    70% {
        transform: translate3d(-5px, 0, 0);
    }
    40%,
    60% {
        transform: translate3d(5px, 0, 0);
    }
}
